

nb-card {
  transform: translate3d(0, 0, 0);
  // border: 1px solid red;
}

@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ng2-smart-table /deep/ table 
  {
    margin: 1rem 0;
    white-space: normal;
    display: table;
    table-layout: auto;
    thead{
      display: none;
      // display: table-header-group;
    }
    tbody{
      overflow-y: hidden;
      display: table-row-group
    }
    tr {
      background-color: white !important;
      table-layout: auto;
      display: table-row;
      border: medium none;
      background-color: white;
      th, td{
        background-color: white !important;
        display: table-cell;
        font-family: Arial;
        border: medium none;
        font-size: 0.8rem;
        text-align: left;
        padding: 0 1.25rem;
        height: 20px;
        // width: 33%;

        word-break: break-all;
        // white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        // max-width: 300px;
      }
    }
  }
}