

nb-card {
  transform: translate3d(0, 0, 0);
  // border: 1px solid red;
}

@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ng2-smart-table /deep/ table 
  {
    margin: 0;
    thead{
      display: none;
    }
    tr {
      th, td{
        border: medium none;
        font-size: 0.8rem;
        text-align: left;
        // width: 33%;

        // word-break: break-all;
        // white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        // max-width: 300px;
      }
    }
  }
}