<nb-tabset-ext>
  <nb-tab-ext tabTitle="{{'spcaTab' | translate}}">
    <div class="row">
      <div class="col-lg-12">
        <nb-card>
          <nb-card-body>
            <ngx-smart-table></ngx-smart-table>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <nb-card>
          <nb-card-body>
            <ngx-d3-line (onSelectAction)="onSelectActionClick($event)"></ngx-d3-line>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-tab-ext>
  <!--nb-tab-ext tabTitle="{{'rbvTab' | translate}}">
    <div class="row">
      <div class="col-lg-12">
        <nb-card>
          <nb-card-body>
            <app-rbv ScenarioRunID={{runId}} ScenarioRunResultID={{resultId}} FromSkuZone={{fromSkuZone}}></app-rbv>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-tab-ext-->
  <ng-template let-data="rbv" #rbvContent>
    <div class="row">
      <div class="col-lg-12">
        <nb-card>
          <nb-card-body>
            <app-rbv ScenarioRunID={{data.runid}} ScenarioRunResultID={{data.resultid}} FromSkuZone={{data.iszone}}></app-rbv>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </ng-template>
</nb-tabset-ext>