@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';



@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }


  
  nb-tabset-ext {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nb-tab-ext {
    padding: nb-theme(padding);
  }

  @include media-breakpoint-down(xs) {
    nb-tabset-ext /deep/ul {
      font-size: 1rem;
      padding: 0 0.25rem;
    }
  }


  
  ngx-d3-line{
    display: block;
    width: 100%;
    height: nb-theme(card-height-medium);

    /deep/ {
      .pie-label {
        fill: nb-theme(color-fg-heading);
      }

      .grid-line-path {
        stroke: nb-theme(separator);
      }

      text {
        fill: nb-theme(color-fg-heading);
      }

      .chart-legend {
        .legend-labels {
          background: nb-theme(color-bg);
        }
        .legend-label {
          color: nb-theme(color-fg-heading);
          .active .legend-label-text {
            color: nb-theme(color-fg-heading);
          }
        }
      }
    }
  }







  
}
