@import '../../../@theme/styles/themes';


.dupFrom{
    position: absolute;
    left: 30px;
    bottom: 12px;
    font-size: 0.8rem;
    .dupFromLink{
        font-weight: 600;
        color: blue;
        margin: 0 0.6rem;
    }
    .dupFromDesc{
        margin: 0 0.6rem;
    }
}
