

<ngx-charts-line-chart-ext
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi"
  [xinfos]="xinfos"
  [pinfos]="pinfos"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="xinfos.length > 12 ? true : false"
  (select)="onSelect($event)"
  (window:resize)="onResize($event)"
>

  <!-- [xAxisTickFormatting]="xAxisTickFormatting" -->
  <!-- (window:resize)="onResize($event)" -->
  <!-- <ng-template #tooltipTemplate let-model="model">
    <h1>
      xxx
    </h1>
    <h2>{{model.name}}: {{model.value}}</h2>
  </ng-template> -->
  <!-- <ng-template #seriesTooltipTemplate let-model="model">
    <h1>
      xxx
    </h1>
    <h2>{{model.name}}: {{model.value}}</h2>
  </ng-template> -->

</ngx-charts-line-chart-ext>



