

<ngx-charts-line-chart-ext
  [showGridLines]="showGridLines"
  [roundDomains]="roundDomains"
  [autoScale]="autoScale"
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi"
  [xinfos]="xinfos"
  [pinfos]="pinfos"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  (select)="onSelect($event)"
  (window:resize)="onResize($event)"
>

  <!-- [xAxisTickFormatting]="xAxisTickFormatting" -->
  <!-- (window:resize)="onResize($event)" -->
  <!-- <ng-template #tooltipTemplate let-model="model">
    <h1>
      xxx
    </h1>
    <h2>{{model.name}}: {{model.value}}</h2>
  </ng-template> -->
  <!-- <ng-template #seriesTooltipTemplate let-model="model">
    <h1>
      xxx
    </h1>
    <h2>{{model.name}}: {{model.value}}</h2>
  </ng-template> -->

</ngx-charts-line-chart-ext>

<div class="dupFrom"> <a (click)="onDupClick($event)">Duplicate from: {{binfos.duplicateFromRunId}}</a></div>



