<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Product Group">
        <ng-template ngbPanelContent>
            <div>PG1</div>
            <div>PG2</div>
            <div>PG3</div>
        </ng-template>
    </ngb-panel>
    <ngb-panel>
        <ng-template ngbPanelTitle>
            <span>Categories</span>
        </ng-template>
        <ng-template ngbPanelContent>
            <div>Cat1</div>
            <div>Cat2</div>
            <div>Cat3</div>
        </ng-template>
    </ngb-panel>
    <ngb-panel title="Location Groups">
        <ng-template ngbPanelContent>
            <div>LG1</div>
            <div>LG2</div>
            <div>LG3</div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>